body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.topbar {
  background: #c40000;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar {
  width: 220px;
  background: #efefef;
  height: 100vh;
  position: fixed;
  top: 80px;
  padding-top: 20px;
}

.sidebar a {
  display: block;
  padding: 15px 20px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  background: #ddd;
}

.content {
  margin-left: 240px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 30px;
  font-size: 14px;
}

th, td {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center;
  height: 40px;
  position: relative;
}

th {
  background-color: #c40000;
  color: white;
  font-size: 14px;
}

.hora {
  background: #f0f0f0;
  font-weight: bold;
}

.vacio {
  background: #fafafa;
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.stats .card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  max-width: 180px;
  width: 100%;
}

canvas {
  width: 120px !important;
  height: 120px !important;
  margin: auto;
}

h2 {
  margin-bottom: 20px;
  font-size: 22px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.bloque {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  padding: 2px;
  box-sizing: border-box;
}

