.btn-actualizar {
    background-color: #c40000;
    color: white;
    border: none;
    padding: 10px 15px;
    margin-top: 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    width: 100%;
}

.btn-actualizar:hover {
    background-color: #a30000;
}

input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form label {
    font-weight: bold;
    margin-top: 10px;
}
