body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.topbar {
    background: #c40000;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.sidebar {
    width: 230px;
    background: #efefef;
    height: 100vh;
    position: fixed;
    top: 80px;
    padding-top: 20px;
  }

.sidebar a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.sidebar a:hover {
    background: #ddd;
}

.content {
    margin-left: 230px;
    padding: 30px;
}

form {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-top: 20px;
}

input,
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background: #c40000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #a30000;
}

.mensaje {
    margin-top: 20px;
    font-weight: bold;
}

.success-message {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}
style {
    height: 35px;
    background: white;
    padding: 5px;
    border-radius: 5px;
}

.barra-superior {
    background-color: #c40000;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
  }
  
  /* Izquierda */
  .barra-izquierda img {
    height: 40px;
    background: white;
    padding: 5px;
    border-radius: 8px;
  }
  
  /* Derecha */
  .barra-derecha {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .usuario {
    font-size: 16px;
  }
  
  .enlace-salir {
    color: white;
    font-weight: bold;
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .enlace-salir:hover {
    color: #ffd6d6;
  }
  
  /* Responsivo */
  @media (max-width: 600px) {
    .barra-superior {
      flex-direction: column;
      height: auto;
      padding: 15px;
      gap: 10px;
    }
  
    .barra-derecha {
      justify-content: center;
    }
  }
  