body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.topbar {
  background: #c40000;
  padding: 10px 20px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 230px;
  background: #efefef;
  height: 100vh;
  position: fixed;
  top: 80px;
  padding-top: 20px;
}

.sidebar a {
  display: block;
  padding: 15px 20px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.sidebar a:hover {
  background: #ddd;
}

.content {
  margin-left: 240px;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  margin-top: 30px;
  font-size: 14px;
}

th,
td {
  padding: 6px;
  border: 1px solid #ccc;
  text-align: center;
  height: 40px;
  position: relative;
}

th {
  background-color: #c40000;
  color: white;
}

.stats {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.stats .card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  width: 200px;
}

canvas {
  width: 140px !important;
  height: 140px !important;
  margin: auto;
}

.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 400px;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}
.barra-superior {
  background-color: #c40000;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}

/* Izquierda */
.barra-izquierda img {
  height: 40px;
  background: white;
  padding: 5px;
  border-radius: 8px;
}

/* Derecha */
.barra-derecha {
  display: flex;
  align-items: center;
  gap: 10px;
}

.usuario {
  font-size: 16px;
}

.enlace-salir {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  display: flex;
  align-items: center;
  gap: 5px;
}

.enlace-salir:hover {
  color: #ffd6d6;
}

/* Responsivo */
@media (max-width: 600px) {
  .barra-superior {
    flex-direction: column;
    height: auto;
    padding: 15px;
    gap: 10px;
  }

  .barra-derecha {
    justify-content: center;
  }
}
