body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}
.topbar {
    background: #c40000;
    padding: 10px 20px;
    color: white;
    display: flex;
    justify-content: space-between;
  
}
.sidebar {
    width: 230px;
    background: #efefef;
    height: 100vh;
    position: fixed;
    padding-top: 20px;
}
.sidebar a {
    display: block;
    padding: 15px 20px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
.sidebar a:hover {
    background: #ddd;
}
.content {
    margin-left: 230px;
    padding: 30px;
}
form {
    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin-top: 20px;
}
input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    width: 100%;
    padding: 10px;
    background: #c40000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background: #a30000;
}
.mensaje {
    margin-top: 20px;
    font-weight: bold;
    color: green;
    background: #d4edda;
    padding: 10px;
    border: 1px solid #c3e6cb;
    border-radius: 5px;
}